.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666;
    z-index: 10000;
}

.overlay .container{
    padding: 200px 0;
}

.overlay .single-input{
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    width: 100%;
}

.overlay .textarea {
    width: 100%;
    height: 100%;
    padding: 10px 20px 100px;
}

.overlay textarea {
    width: 100%;
    height: 100%;
}