button {
    padding: 0;
    width: 40px;
}

table td, table th {
    padding: 2px;
}

.green {
    background-color: #5cb85c;
    color: #fff !important;
    border-color: #4cae4c;
}

.red {
    background-color: #d9534f;
    color: #fff !important;
    border-color: #d43f3a;
}