button {
    padding: 0;
    width: 40px;
}

table td, table th {
    padding: 2px;
}

.green {
    background-color: #5cb85c;
    color: #fff !important;
    border-color: #4cae4c;
}

.red {
    background-color: #d9534f;
    color: #fff !important;
    border-color: #d43f3a;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666;
    display: none;
}

.overlay .container{
    padding: 200px 50px;
}